body {
    background-color: #330000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
}

.board {
    position: relative;
    height: 95vh;
}

#title {
    font-family: 'Righteous', cursive;
    font-weight: 900;
    color: rgb(1, 104, 189);
    text-align: center;
    font-size: 100px;
    /* position: absolute; */
    /* margin: auto; */
    /* left: 0; */
    /* right: 0; */
    /* bottom: 0; */
    /* margin-bottom: 0; */
}

.outer-table {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 99%;
    height: 95%;
    background-color: black;
    border-radius: 500px;
    border: .5rem black solid;
    margin: auto;
}

.table {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 98%;
    height: 96%;
    background-color: rgb(18, 105, 60);
    border-radius: 500px;
    border: 1.3rem rgb(3, 67, 34) solid;
    margin: auto;
}


.community-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 22.5%;
    background-color: rgb(18, 105, 60);
    border-radius: 20px;
    border: .4rem yellow solid;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.outline {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    height: 70%;
    border-radius: 300px;
    border: white solid 3px;
    margin: auto;
}

.winner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
    /* left: 0; */
    right: 13%;
    top: 10%;
    /* bottom: 0; */
    width: 25%;
    height: 25%;
    border-radius: 30px;
    border: silver solid 5px;
    background-color: goldenrod;
    margin: auto;
    font-size: 30px;
    text-align: center;
    color: black;
}

.community-container > div {
    width: 13%;
    height: 85%;
    background-color: white;
    border-radius: 10px;
    border: black solid .2rem;
    margin: auto;
}

#dealer, #player {
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    width: 18%;
    height: 22.5%;
    background-color: rgb(18, 105, 60);
    border-radius: 20px;
    border: solid   white .3rem;
    margin: auto;
}

#player {
    bottom: 4%;
}

#dealer {
    top: 4%;
}

#dealer > div:first-child, #player > div:first-child, #dealer > div:last-child, #player > div:last-child {
    position: absolute;
    z-index: 3;
    bottom: 0;
    top: 0;
    width: 35%;
    height: 85%;
    /* background-color: white; */
    border-radius: 10px;
    /* border: black solid .2rem; */
    margin: auto;
}


#dealer > div:last-child, #player > div:last-child {
    right: 11%;
}

#dealer > div:first-child, #player > div:first-child {
    left: 11%;
}

.choices {
    position: absolute;
    z-index: 3;
    right: 19%;
    bottom: 12%;
    display: flex;
    height: 10%;
    width: 20%;
    justify-content: space-evenly;
    margin: auto;
} 

.choices > button {
    margin: 10px;
    height: 65%;
    width: 30%;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2px black solid;
    box-shadow: 6.6px 13.1px 13.1px hsl(0deg 0% 0% / 0.30);
    cursor: pointer;
}

#fold {
    background-color: rgb(235, 9, 9);
    /* margin-right: 20px; */
}

#check {
    background-color: rgb(213, 179, 11);
}

#raise {
    background-color: aqua;
    /* margin-left: 20px; */
}

#user {
    background-color: darkred;
    width: 10%;
    height: 11%;
    border-radius: 10px;
    position: absolute;
    bottom: 5%;
    left: 28.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

#user > div {
    background: white;
    height: 42%;
    width: 95%;
    padding: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#submit {
    /* margin: 10px; */
    width: 70px;
    height: 40px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 10px 22px;
    color: white;
    border: 0;
    background: #05c3dd;
    line-height: 1.15;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #11b0c1;
    /* background-color: #0254b2; */
    width: 72px;
    height: 42px;
}       

form {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

input {
border: 3px solid #000;
border-radius: 5px;
height: 45px;
outline: 0;
line-height: normal;
color: #282828;
display: block;
width: 100%;
box-sizing: border-box;
user-select: auto;
font-size: 16px;
padding: 0 6px;
padding-left: 12px;
margin-bottom: 10px;
}

h2 {
    margin: 15px;
}

#name:focus{
    transition: all .1s;
    border: 3px solid #0254b2;
}

#userName {
    font-size: 20px;

}